# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.pytest_cache/
.mypy_cache/
.ds_store

# Database
test.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
ehthumbs_vista.db
